/*
 * style.css
 *
 * CSC309 Assignment 1
 * 
 * University of Toronto
 * Fall 2025
 *
 */

/* Body and general elements */
html, body {
    height: 100%;
}

body {
    background-color: #BBBBBB;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* make content take up all available space */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 128px 8px;
    margin: 0;    
    box-sizing: border-box;
}

footer {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background: #333333;
    color: #fff;
    flex-shrink: 0;
}


/* Navigation bar */

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
    list-style: none;
    background-color: #333333;
    height: 71px;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 32px;
    padding: 24px;
}



.navbar li a:hover {
    font-weight: bold; 
    color: #ffff;
}

.navbar li a {
    color: #00b8d4;
    padding: 20px 0; 
    text-decoration: none;
    font-size: 19.2px;

}

.current a {
    color: #b2f5ea !important; 
    font-weight: bold;
}

 /* index - home page content*/

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 8px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    font-size: 24px;
    height: 100%;
}

.photo-frame {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#section-title {
    font-size: 48px;
    font-weight: bold;
    margin: 16px;
}

.intro p {
    margin: 0px;
}

#introduction {
    margin-bottom: 24px;
}


 /* index - home page button */

.button {
    background-color: #fff;
    color: #007EA8;
    padding: 8px;
    font-size: 18px;
    border: 2px solid #007EA8;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}
.button:hover {
    background-color: #007EA8;
    color: #fff
}

/* about page content */

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about-section h1 {
    font-size: 48px;
    margin: 0px;
    margin-bottom: 16px;
}

.courses-widget {
    font-size: 20px;
}

.about-section ul {
    list-style-position: inside;
    padding-left: 0;
    margin-top: 16px;
}
.academic-statement {
    padding: 8px;
    text-align: center;
    font-size: 16px;
}

.pdf-embed{
    width: 720px;
    height: 648px;
}

@media (max-width: 480px) {
    .aabout-section {
        box-sizing: border-box;
        margin-left: 8px;
        margin-right: 8px;
        width: 100%;
    }
    .pdf-embed{
        width: 450px;
        height: 648px;
    }
}

/* Contact page styles */

#section-title{
    margin-top: 32px;
}

#email-link {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 24px;
}

.form {
    width: 800px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 16px;

}

.form-row {
    display: grid;
    grid-template-columns: 100px 600px;
    align-items: center;
    gap: 16px;
    margin: 0 8px;
    padding: 0px;
}

.form-row label {
    justify-self: end;
    text-align: right;
}

.form-row label[for="consent"] {
    text-align: left;
    justify-self: start;
}


.form-row label[for="email"],
.form-row label[for="feedback"],
.form-row label[for="attachments"] {
    font-weight: bold;
    width: 100%;
} 

.form-row-feedback {
    align-items: flex-start;
}

.form-row input[type="email"]{
    border-color: #DDDDDD;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    height: 47px;
}

.form-row textarea{
    border-color: #DDDDDD;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    height: 104px;
}


.form-row input[type="checkbox"] {
    transform: scale(1.5);
    justify-self: end;
    text-align: right;
}

.form-row input[type="file"] {
    border: 1px solid #FFFF;
    justify-self: center;
    padding: 13px 12.8px;
    gap: 16px;
    width: 100%;
    box-sizing: border-box;
    height: 53px;
    border-radius: 3px;
}

/* Contact Button */
.button-feedback {
    background-color: #fff;
    color: #007EA8;
    padding: 8px;
    font-size: 13.6px;
    border: 2px solid #007EA8;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

.button-feedback:hover {
    background-color: #007EA8;
    color: #fff
}

/* Media width */

@media (max-width: 480px) {
    .form {
        width: 100%;
        gap:16px;
        margin: 0px 8px 128px 8px;
        box-sizing: border-box;
    }
    .form-row {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 8px;
        margin: 0px 8px;
        padding: 0px;
        width: calc(100% - 16px);
    }
    .form-row label {
        text-align: left;
    }
    .form-row input[type="checkbox"] {
        align-self: flex-start;
    }

    .form-row label[for="consent"] {
        align-self: left;
    }
    .button-feedback {
        align-self: flex-start;
    }
}
